.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    overflow: hidden
}

.image-container {
    position: relative;
    width: 65%;
    height: 30%;
}

.transparent-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
    z-index: 1; /* Ensure the transparent layer is above the image */
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}